<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Wind Speed</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css'>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
  {% load static %}
	<link rel="stylesheet" href="{% static "css/style.css" %}">
	<link rel="stylesheet" href="{% static "css/laxvek.css" %}">
  <style>
  html{
    overflow: hidden;
  }
  </style>
  
</head>

<body>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  
  <div class="chart-container" style="position: relative; height:40vh; width:80vw">
    <canvas id="myChart" style="margin-left:-10%;height:40vh; width:60vw"></canvas>
  </div>
  

<br><br>


<script src="{% static 'js/index.js' %}"></script>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div>
          <h4>Average Rating: {{rating}}/5</h4>
          <br>
          <h6>Total Ratings: {{count}}</h6>
        </div> 
    </div>
    <div class="col-sm-6">
      <section class='rating-widget'>


        <!-- Rating Stars Box -->
        <div class='rating-stars text-center'>
          <ul id='stars'>
          <li class='star' title='Poor' data-value='1'>
            <i class='fa fa-star fa-fw'></i>
          </li>
          <li class='star' title='Fair' data-value='2'>
            <i class='fa fa-star fa-fw'></i>
          </li>
          <li class='star' title='Good' data-value='3'>
            <i class='fa fa-star fa-fw'></i>
          </li>
          <li class='star' title='Excellent' data-value='4'>
            <i class='fa fa-star fa-fw'></i>
          </li>
          <li class='star' title='WOW!!!' data-value='5'>
            <i class='fa fa-star fa-fw'></i>
          </li>
          </ul>
        </div>
          
        <div class='success-box'>
          <div class='clearfix'></div>
          <div class='text-message'></div>
          <div class='clearfix'></div>
        </div>
        <div class="row">
            <div class="col-sm-4">
            <div class="col-sm-4">
              <form method="POST" class="post-form">{% csrf_token %}
                  <input type="hidden" name="rating" value="0" class=".id_rating" required="" id="id_rating"></p>
                  
                  <button type="submit" class="btn btn-info">Submit</button>
              </form>
            </div>
            <div class="col-sm-4"></div>
        </div>

        
      </section>
    
      

      </div>
    </div>
</div>

		<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
		<script src="{% static 'js/rating.js' %}"></script>


</body>

</html>
